/** Qubic Tic Tac Toe **/

small > a {
    text-decoration: none;
    color:#667a94;
}

small > a:hover {
    text-decoration: underline;
}

table, td {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

td {
    cursor:pointer;
}

td:hover {
    background-color: grey;
}

.slice {
    margin-left: 30px;
}

.board {
    display: inline-flex;
    position: relative;
    margin: auto;
    margin-top: 1rem;
}

.X {
    background-color: chocolate !important;
}

.O {
    background-color: burlywood !important;
}

.winning-move {
    background-color: green !important;
}

.cantine {
    width: max-content;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    display: block;
}

.cantine ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cantine ul li button {
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    margin: .5rem;
}

div.game-menu {
    display: none;
}